body {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 300px;
  margin: 40px auto;
  border: 4px solid #eee;
}

.cell {
  width: 100px;
  height: 100px;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
  box-shadow: 0 0 0 1px #eee;
}
